body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(244, 242, 236);
}

/* estilo de cabecalho */
.cabecalho {
  background-color: rgb(39, 37, 28);
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.menu-btn {
  position: fixed;
  top: 2%;
  right: 0;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 50%;
  right: -13%; /* Inicialmente, o menu estará oculto */
  width: 300px;
  padding: 10px;
  border-radius: 50%;
  transition: right 0.7s;
}

.menu a {
  display: block;
  margin-bottom: 5%;
}

/* imagem de logo */
.logo {
  width: 385px;
}

/* posição de texto MENU SOBRE CONTATO */
.botao-cabecalho {
  display: flex;
  align-items: center;
}

/* estilo de texto MENU SOBRE CONTATO */
.botao-cabecalho ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.botao-cabecalho ul li {
  margin-right: 20px;
}

/* Mudar cor ao passar cursor */
.botao-cabecalho ul li a {
  color: rgb(130, 122, 96);
  text-decoration: none;
  transition: color 0.3s;
}

.botao-cabecalho ul li a:hover {
  color: white;
}

/* linha horizontal de divisao */
.linha-divisao {
  width: 100%;
  background-color: rgb(36, 34, 26);
  height: 10px;
}

.formatualiza {
  padding: 3em 1em 8em 1em;
  background-color: rgb(244, 242, 236);
  height: 100%;
  text-align: center;
}

.form {
  background-color: white;
  justify-content: center;
  width: 100%;
  max-width: 360px;
  padding: 1em 1em 1em 1em;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  border: solid #F9FFFD;
  border-radius: 10px;
  box-shadow: 0 1px 3px 1px rgba(5, 5, 5, 5);
}

.titulo-form {
  color: black;
}

label {
  text-align: center;
  color: rgb(39, 37, 28);
  flex-direction: column;
  display: flex;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c59253;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c59253;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.botao-atualiza {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background-color: rgb(39, 37, 28); 
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  max-width: 100px
}

.botao-atualiza:hover {
  cursor: pointer;
  background: rgb(26, 24, 19);
  text-decoration: none;
}
  
/* rodapé */
footer {
  background-color: rgb(39, 37, 28);
  margin-top: 50px;
  text-align: center;
  padding-bottom: 30px;
}

/* imagem rodapé */
.img-rodape {
  display: block;
  height: 200px;
  margin: auto;
}

/* texto rodapé */
.copyright {
  font-size: 16px;
  color: #999;
  margin: 0;
  padding: 0;
}